# Hugo
/public/
/resources/
/themes/*/exampleSite/
*.log
/_ignore/
/mode_modules

# frontmatter
.frontmatter/
frontmatter.json

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Editor-specific
.vscode/
.idea/
