body, .nav, .logo, .post-title, .page-header, .entry-header, figcaption { 
    font-family: 'my_underwoodregular', Arial, sans-serif; 
}

@keyframes expandAndFade {
  0% { transform: scale(1); opacity: 1; }
  25% { transform: scale(1.25); opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

.expand-and-fade {
  animation: expandAndFade 1s ease-in-out;
}

