body {
    /* Set the background image URL */
    background-image: url('/images/img_bg.jpg') !important;
}
body.dark {
    /* Set the background image URL */
    background-image: url('/images/img_dark_bg.png') !important;
}

body, .nav, .logo, .post-title, .page-header, .entry-header, figcaption { 
    font-family: 'my_underwoodregular', Arial, sans-serif; 
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

