@font-face {
  font-family: 'my_underwoodregular';
    src: url('/fonts/myunderwood-webfont.eot');
    src: url('/fonts/myunderwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/myunderwood-webfont.woff') format('woff'),
         url('/fonts/myunderwood-webfont.ttf') format('truetype'),
         url('/fonts/myunderwood-webfont.svg#my_underwoodregular') format('svg');
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  font-named-instance: "Regular";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../jslibs/photoswipe/dist/photoswipe.css";
@import "../jslibs/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css";
@import "../jslibs/flickr-justified-gallery/dist/fjGallery.css";

html.dark {
  color-scheme: dark;
}

[x-cloak] {
  display: none !important;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}
