<!-- layouts/partials/overlay.html -->
{{- $isChristmas := (.Param "showChristmasOverlay") | default false }}
      {{- if $isChristmas }}
    <div id="overlay">
    <div id="overlay-content">
      <button id="close-overlay">Close</button>
      <!-- Add any other content you want in the overlay here -->
      Merry Christmas!
    </div>
  </div>
      {{- end }}
{{/*  {{- end -}}  */}}
  

<script>
    document.getElementById('close-overlay').addEventListener('click', function() {
      document.getElementById('overlay').style.display = 'none';
      localStorage.setItem('overlayShown', 'true'); // Set local storage to hide the overlay
    });

    // Check local storage to determine whether to show the overlay
    if (localStorage.getItem('overlayShown') == 'true') {
      // alert('do not show overlay!')
      document.getElementById('overlay').style.display = 'none';
    }
</script>