<!-- layouts/partials/overlay.html -->
{{- $isChristmas := (.Param "showChristmasOverlay") | default false }}
  {{- if $isChristmas }}
  <div id="snow" class="snow"></div>
  <div id="overlay" class="fixed top-0 left-0 w-full h-full bg-red-500 z-50">
    <div id="overlay-content" class="rounded-2xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-8 text-center">
        <button id="close-overlay" class="text-white px-10 py-5 cursor-pointer" aria-label="Open Christmas Present!" title="Open Christmas Present!">
            <!-- SVG for the present (adjust as needed) -->
            <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        width="150px" height="150px" viewBox="0 0 362.201 362.201"
        xml:space="preserve">
        <g>
          <path d="M322.221,88.215h-34.004c2.794-2.854,5.178-6.141,7.062-9.792c4.952-9.6,5.869-20.554,2.583-30.843
            c-5.36-16.785-20.844-27.631-39.443-27.631c-3.588,0-7.207,0.417-10.755,1.239c-17.472,4.05-42.119,17.472-58.203,32.503
            c0.459-4.396,1.508-10.85,3.899-17.287C198.463,22.674,206.909,16,219.184,16c4.418,0,8-3.582,8-8s-3.582-8-8-8
            c-16.824,0-30.14,8.65-38.084,24.521C173.157,8.649,159.841,0,143.017,0c-4.418,0-8,3.582-8,8s3.582,8,8,8
            c24.792,0,29.153,29.135,29.919,39.609c-15.708-15.434-41.219-29.605-60.041-34.382c-3.68-0.934-7.447-1.407-11.195-1.407
            c-18.406,0-33.778,10.896-39.164,27.76c-3.286,10.289-2.369,21.243,2.583,30.843c1.884,3.651,4.268,6.937,7.061,9.792h-32.2
            c-4.418,0-8,3.582-8,8v63.58c0,4.418,3.582,8,8,8h20.631v186.406c0,4.418,3.582,8,8,8h224.98c4.418,0,8-3.582,8-8V167.795h20.631
            c4.418,0,8-3.582,8-8v-63.58C330.221,91.797,326.639,88.215,322.221,88.215z M251.275,36.776c2.365-0.548,4.769-0.826,7.143-0.826
            c11.679,0,20.951,6.322,24.201,16.499c1.986,6.218,1.434,12.837-1.561,18.639c-2.994,5.802-8.066,10.091-14.285,12.077
            c-7.604,2.429-27.05,5.05-45.212,5.05c-0.001,0-0.004,0-0.005,0c-23.977,0-31.678-4.4-32.467-5.896
            c-0.243-0.759,0.049-2.657,1.669-5.507C199.035,62.255,230.142,41.675,251.275,36.776z M77.778,52.449
            c3.226-10.101,12.615-16.627,23.922-16.627c2.422,0,4.865,0.308,7.26,0.916c22.187,5.63,52.88,25.941,60.818,40.247
            c1.514,2.727,1.782,4.545,1.548,5.289c-0.808,1.542-8.51,5.941-32.484,5.941c-18.165,0-37.615-2.621-45.219-5.05
            c-6.219-1.986-11.291-6.275-14.284-12.077C76.346,65.286,75.791,58.667,77.778,52.449z M47.979,104.215H173.1v47.58H68.609H47.979
            V104.215z M76.609,167.795h96.49v178.406h-96.49V167.795L76.609,167.795z M285.59,346.201H189.1V167.795h96.49V346.201z
              M314.221,151.795H293.59H189.1v-47.58h125.121V151.795z"/>
        </g>
      </svg>
        </button>
        <p class="mb-4">Merry Christmas Mom!<br/>
          Click the present to see what is inside!<br/>
        Love, Ben</p>
    </div>
</div>


  <script>
    document.getElementById('close-overlay').addEventListener('click', function() {
      // Add the 'expand-and-fade' class to the overlay for expand and fade animation
      document.getElementById('overlay').classList.add('expand-and-fade');
  
      // Add a delay to allow time for the animation
      setTimeout(function() {
          // Hide the overlay after the animation
          document.getElementById('overlay').style.display = 'none';
          removeSnowflakes();
          localStorage.setItem('overlayShown', 'true'); // Set local storage to hide the overlay
      }, 1000); // 1000ms (1 second) delay, adjust as needed
    });
  
    // Check local storage to determine whether to show the overlay
    if (localStorage.getItem('overlayShown') == 'true') {
      {{/*  alert('do not show overlay!')  */}}
      document.getElementById('overlay').style.display = 'none';
    } else {
      {{/*  alert('show overlay!')  */}}
      window.addEventListener('resize', resize);
      window.addEventListener('load', initSnow);
    }



/*!
// Snow.js - v0.0.3
// kurisubrooks.com
*/

// Amount of Snowflakes
var snowMax = 150;

// Snowflake Colours
var snowColor = ["#DDD", "#EEE", "#FFF", "#00FF00"];

// Snow Entity
var snowEntity = "❄";

// Falling Velocity
var snowSpeed = 0.85;

// Minimum Flake Size
var snowMinSize = 4;

// Maximum Flake Size
var snowMaxSize = 24;

// Refresh Rate (in milliseconds)
var snowRefresh = 50;

// Additional Styles
var snowStyles = "cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;";

/*
// End of Configuration
// ----------------------------------------
// Do not modify the code below this line
*/

var snow = [],
	pos = [],
	coords = [],
	lefr = [],
	marginBottom,
	marginRight;

function randomise(range) {
	rand = Math.floor(range * Math.random());
	return rand;
}

function initSnow() {
	var snowSize = snowMaxSize - snowMinSize;
	marginBottom = document.body.scrollHeight - 5;
	marginRight = document.body.clientWidth - 15;

	for (i = 0; i <= snowMax; i++) {
		coords[i] = 0;
		lefr[i] = Math.random() * 15;
		pos[i] = 0.03 + Math.random() / 10;
		snow[i] = document.getElementById("flake" + i);
		snow[i].style.fontFamily = "inherit";
		snow[i].size = randomise(snowSize) + snowMinSize;
		snow[i].style.fontSize = snow[i].size + "px";
		snow[i].style.color = snowColor[randomise(snowColor.length)];
		snow[i].style.zIndex = 1000;
		snow[i].sink = snowSpeed * snow[i].size / 5;
		snow[i].posX = randomise(marginRight - snow[i].size);
		snow[i].posY = randomise(2 * marginBottom - marginBottom - 2 * snow[i].size);
		snow[i].style.left = snow[i].posX + "px";
		snow[i].style.top = snow[i].posY + "px";
	}

	moveSnow();
}

function resize() {
	marginBottom = document.body.scrollHeight - 5;
	marginRight = document.body.clientWidth - 15;
}

function moveSnow() {
	for (i = 0; i <= snowMax; i++) {
		coords[i] += pos[i];
		snow[i].posY += snow[i].sink;
		snow[i].style.left = snow[i].posX + lefr[i] * Math.sin(coords[i]) + "px";
		snow[i].style.top = snow[i].posY + "px";

		if (snow[i].posY >= marginBottom - 2 * snow[i].size || parseInt(snow[i].style.left) > (marginRight - 3 * lefr[i])) {
			snow[i].posX = randomise(marginRight - snow[i].size);
			snow[i].posY = 0;
		}
	}

	setTimeout("moveSnow()", snowRefresh);
}

for (i = 0; i <= snowMax; i++) {
	document.write("<span id='flake" + i + "' style='" + snowStyles + "position:absolute;top:-" + snowMaxSize + "'>" + snowEntity + "</span>");
}

function removeSnowflakes() {
  for (var i = 0; i <= snowMax; i++) {
      var flake = document.getElementById("flake" + i);
      if (flake) {
          flake.parentNode.removeChild(flake);
      }
  }
}





  </script>

{{- end }}