  <div class="bg-louise-signature{{ if .IsHome }}-home{{ end }} bg-no-repeat bg-contain bg-center mx-auto max-w-screen-lg px-3 h-24 text-center flex flex-col justify-center">
    {{ if not .IsHome }}
    <h1 class="text-4xl md:text-5xl uppercase">{{ .Title }}</h1>
    {{ end }}
  </div>
  {{ if .Params.Description }}
    <div class="mx-auto text-center flex flex-col justify-center">
      <p class="text-neutral-500 dark:text-neutral-400 md:text-lg">{{ .Params.Description }}</p>
    </div>
  {{ end }}
  {{ if .Params.subMenu }}
    <div class="mx-auto text-center flex flex-col justify-center">
    {{ $submenu := .Params.subMenu }}
    {{ partial "subMenu.html" (dict "menuID" $submenu "page" .) }}
    </div>
  {{ end }}